<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h3>Produtos cadastrados</h3>
      <div class="text-right">
        <button (click)="navegarParaCadastrarProduto()" type="button" class="btn btn-primary pull-right">Novo produto</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of produtos">
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.nome }}</td>
            <td>{{ i.descricao }}</td>
            <td>R${{ i.preco }}</td>
            <td class="text-right">
              <button (click)="editar(i)" type="button" class="btn btn-primary">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>